body{
    background-color: rgb(44, 42, 42);
    display: flex;
    flex-wrap: wrap;
}

.notes{
    background-color: aliceblue;
    width: 250px;
    height: 250px;
    margin: 20px;
}

.notes .tools{
    background-color: rgb(72, 161, 161);
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    width:auto;
text-decoration:wavy;
}

.notes .tools button{
    background-color: transparent;
    color: aliceblue;
    border: none;
}

.notes textarea{
    outline: none;
    font-size: 1.2rem;
    border: none;
    height: 250px;
    width: 100%;

}

.note .main {
    background-color: #eee;
    overflow: hidden;
    height: 250px;
    width: 100%;
}
#add {
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.notes .hidden{
    display: none;
}